In [2]:
import numpy as np
import pandas as pd

In [3]:
df=pd.read_csv('test.csv')

In [5]:
print(df.shape)
df.head()

(10, 5)

   Unnamed: 0  experience  test_score  interview_score   salary
0           0           1           8                4    50000
1           1           2           9                5    60000
2           2           2           4                6    60000
3           3           3           5                7    80000
4           4           4           3                8  1000000

In [6]:
df.isnull().sum()

Unnamed: 0         0
experience         0
test_score         0
interview_score    0
salary             0
dtype: int64

In [21]:
x=df.iloc[:,1:-1]

In [22]:
x

   experience  test_score  interview_score
0           1           8                4
1           2           9                5
2           2           4                6
3           3           5                7
4           4           3                8
5           3          10                9
6           4           6                1
7           5           7                2
8           1           9                4
9           4           8                8

In [23]:
y=df.iloc[:,-1]

In [24]:
y

0      50000
1      60000
2      60000
3      80000
4    1000000
5      55000
6     100000
7      70000
8      60000
9      45000
Name: salary, dtype: int64

In [25]:
from sklearn.linear_model import LinearRegression

In [26]:
regressor=LinearRegression()

In [27]:
regressor.fit(x,y)

LinearRegression()

In [28]:
import pickle
pickle.dump(regressor,open('model.pkl','wb'))

In [31]:
model=pickle.load(open('model.pkl','rb'))
print(model.predict([[4,9,5]]))

[28901.51610389]

/home/phs/.local/lib/python3.8/site-packages/sklearn/base.py:450: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(